$line-color: #00ff00 !important;
$actor-color: #007cb4 !important;
$text-color: #ffffff !important;
$font-style: "trebuchet ms", verdana, arial !important;
$background-color: #323f49 !important;

div {
  .mermaid {
    display: block;
    background-color: $background-color;
    border-radius: 4px;
    padding: 24px;
    color: $text-color;
    text-align: center;

    svg {
      height: 100% !important;
    }
  }
}
