<!doctype html>
<html lang="en">

{{ partial "html-head" . }}

<body>
	<div class="loader">
		<div class="loading-animation"></div>
	</div>

	{{ partial "header" . }}

	{{ block "main" . }}{{ end }}

	{{ partial "footer" . }}

	<a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
		data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
		<img src="/assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
	</a>

	{{ partial "footer-include" . }}

</body>

</html>