{{ define "main" }}
<section class="bg-light o-hidden pt-5 pb-0">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col" data-aos="fade-right">
				<div class="pr-xl-5">
					<main>
						<article>
							<h1>{{ .Title }}</h1>
							<time>{{ .Date.Format "2006.03.01 15:04" }}</time>
							<div>
								{{ .Content }}
							</div>
							{{ with .Params.tags }}
							<div>
								<ul id="tags">
									{{ range . }}
									<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
									{{ end }}
								</ul>
							</div>
							{{ end }}
						</article>
					</main>
				</div>
			</div>

		</div>
	</div>
	<div class="divider divider-bottom bg-dark mt-5"></div>
</section>
{{ end }}