//
//
// prism.scss
//
//

@import "../../components/plugins/prismdark";

// code {

//     background-color: unset;
//     border: unset;
//     border-radius: unset;
//     padding: unset;
//     font-weight: unset;
//     color: unset;

//     font-weight: normal;
//     font-family: "Lucida Console", Monaco, monospace !important;
//     font-size: 14px;
// }

code[class*="language-"] {
  border: none;
  line-height: 18px;
  padding: 0;
  background-color: unset;
}

article {
  code[class*="language-"],
  pre[class*="language-"] {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
  }

  pre[class*="language-"] {
    border: 1px solid #00000005;
    border-radius: 3px;
    border-left-width: 10px;
    // font-weight: normal !important;
    font-size: 13.6px !important;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
    padding: 10px;
    margin: 0;
    margin-bottom: 16px;
  }
}

pre[class*="language-"] {
  padding: $spacer;
}
