{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<ol class="breadcrumb mt-3" data-aos="fade-down">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {{ $list := split $url "/" }}
    {{ $last := (sub (len $list) 2)}}
    {{ range $index, $element := $list}}
        {{ $.Scratch.Add "path" $element }}
        {{ if ne $element "" }}
            {{ if ne $index $last}}
                
                <li class="breadcrumb-item"><a
                        href='{{ $.Scratch.Get "path" }}'>{{ humanize (replace . "posts" "blog") }}</a></li>
            {{ else }}
            <li class="breadcrumb-item active">{{ humanize (replace . "posts" "blog") }}</li>
            {{ end }}
        {{ $.Scratch.Add "path" "/" }}
        {{ end }}
    {{ end }}
</ol>

