<footer class="bg-dark text-white links-white pb-5 footer-1 pt-5">
	<div class="container">
		<div class="row">
			<div class="col  ">
				<h4>
					<a class="white-links fade-page" href="https://asynkron.se">
						Asynkron AB
					</a>
				</h4>
			</div>
		</div>
		<div class="row">

			<div class="col">
				<strong>CONTACT</strong><br>
				<a href="mailto://info@asynkron.se">info@asynkron.se</a><br>
				Tel: +46-763150349<br>
				Org: 559237-9795<br>
			</div>
			<div class="col">
				<strong>HEADQUARTERS</strong><br>
				Asynkron AB<br>
				Sankt Eriksvägen 9B<br>
				141 32 Huddinge<br>
			</div>
			<div class="col">

			</div>
			<div class="col">

			</div>
			<div class="col">

			</div>
		</div>

	</div>
</footer>