<div class="navbar-container bg-light">
	<nav class="navbar navbar-expand-lg navbar-light" >
		<div class="container">
			<a class="navbar-brand navbar-brand-dynamic-color fade-page" href="/">
				<img alt="Asynkron AB" src="/assets/img/logos/asynkronlogo.png" width="180">
			</a>
			<div class="d-flex align-items-center order-lg-3">
				<div class="mr-2 ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">
					<a href="https://github.com/AsynkronIT" class="btn btn-outline-primary rounded-circle">
						<img src="/assets/img/icons/social/github.svg" alt="github">
					</a>
				</div>
				<div class="mr-2 ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">
					<a href="#" class="btn btn-outline-primary rounded-circle">
						<img src="/assets/img/icons/social/twitter.svg" alt="twitter">
					</a>
				</div>
			</div>

			<div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
				<ul class="navbar-nav my-3 my-lg-0">
					<li class="nav-item">
						<a class="nav-link nav-item " href="/docs/proto.actor">Proto.Actor</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link nav-item " href="#">Shape CMS</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
</div>