<section class="p-4 bg-dark text-white">
  <div class="container py-4">
    <div class="row align-items-center justify-content-around">
      <div class="text-center ">
        <img src="/assets/img/asynkron/protoactor-logo.png" height="120">
        <p class="lead">Cross-platform actors for .NET and Go<br>
        </p>

      </div>
    </div>
  </div>



  <div class="container py-4">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
        <div class="text-center text-lg-left">
          <h2 class="h1">Actor Model</h2>
          <p class="lead">The Actor Model provides a higher level of abstraction for writing concurrent and distributed
            systems. It alleviates the developer from having to deal with explicit locking and thread management, making
            it easier to write correct concurrent and parallel systems.</p>
          <a href="/docs/actors"> Read More <img class="icon icon-sm bg-primary"
              src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>

        </div>

      </div>
      <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
        <img src="/assets/img/asynkron/actor-big.png" alt="Image" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
  <div class="container py-4">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
        <div class="text-center text-lg-left">
          <h2 class="h1">Cloud Native Objects</h2>
          <p class="lead">Cloud Native Object abstraction, which provides a straightforward approach to building
            distributed
            interactive applications, without the need to learn complex programming patterns for handling concurrency,
            fault tolerance, and resource management.</p>
          <a href="/docs/cluster"> Read More <img class="icon icon-sm bg-primary"
              src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>
        </div>

      </div>
      <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
        <img src="/assets/img/asynkron/cnobs.png" alt="Image" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
  <div class="container py-4">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
        <div class="text-center text-lg-left">
          <h2 class="h1">Metrics and Tracing</h2>
          <p class="lead">Observability is an essential feature for distributed systems. Every area of
            Proto.Actor has been instrumented to allow users to extract runtime and
            performance metrics.<br>
            Dashboards for DataDog and Grafana are provided out of the box.
          </p>
          <a href="/docs/metrics"> Read More <img class="icon icon-sm bg-primary"
              src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>
        </div>

      </div>
      <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
        <img src="/assets/img/asynkron/metrics-big.png" alt="Image" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
        <div class="text-center text-lg-left">
          <h2 class="h1">Stream Processing</h2>
          <p class="lead">Proto.Actor is designed to optimize for locality, cloud native objects can gradually migrate
            to cluster members from where it receives the most interactions.
            This allows Proto.Actor to leverage in-process performance for realtime stream processing.

          </p>
          <a href="/docs/local-affinity"> Read More <img class="icon icon-sm bg-primary"
              src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>
        </div>

      </div>
      <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
        <img src="/assets/img/asynkron/streamprocessing-big.png" alt="Image" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>

</section>