<section class="p-4 bg-dark text-white">
    <div class="container py-4">
      <div class="row align-items-center justify-content-around">
        <div class="text-center ">
          <img src="/assets/img/asynkron/protoactor-logo.png" height="120">
          <p class="lead">Cross-platform actors for .NET, Go, Java and Kotlin<br>
          </p>
  
        </div>
      </div>
    </div>
  
    <div class="container py-4">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
          <div class="text-center text-lg-left">
            <h2 class="h1">Actor Model</h2>
            <p class="lead">The Actor Model provides a higher level of abstraction for writing concurrent and distributed
              systems. It alleviates the developer from having to deal with explicit locking and thread management, making
              it easier to write correct concurrent and parallel systems.</p>
              <a href="/docs/proto.actor/actors"> Read More <img class="icon icon-sm bg-primary" src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>
  
          </div>
  
        </div>
        <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
          <img src="/assets/img/asynkron/actor-big.png" alt="Image" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>
    <div class="container py-4">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
          <div class="text-center text-lg-left">
            <h2 class="h1">Distributed by Default</h2>
            <p class="lead">Everything in Proto.Actor is designed to work in a distributed setting: all interactions of
              actors use purely message passing and everything is asynchronous.</p>
              <a href="/docs/proto.actor/remote"> Read More <img class="icon icon-sm bg-primary" src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>
          </div>
  
        </div>
        <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
          <img src="/assets/img/asynkron/network-big.png" alt="Image" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>
    <div class="container py-4">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
          <div class="text-center text-lg-left">
            <h2 class="h1">Virtual Actors</h2>
            <p class="lead">Virtual Actor abstraction, which provides a straightforward approach to building distributed
              interactive applications, without the need to learn complex programming patterns for handling concurrency,
              fault tolerance, and resource management.</p>
              <a href="/docs/proto.actor/cluster"> Read More <img class="icon icon-sm bg-primary" src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>
          </div>
  
        </div>
        <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
          <img src="/assets/img/asynkron/grains-big.png" alt="Image" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>
    <div class="container py-4">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
          <div class="text-center text-lg-left">
            <h2 class="h1">Supervision & monitoring</h2>
            <p class="lead">Actors form a so called supervision-tree, where parent actors can supervise and manage the
              child actors they spawn.</p>
              <a href="/docs/proto.actor/supervision"> Read More <img class="icon icon-sm bg-primary" src="/assets/img/icons/theme/code/right-circle.svg" alt="Icon" data-inject-svg /></a></small>
          </div>
  
        </div>
        <div class="col-md-9 col-lg-6 aos-init aos-animate" data-aos="fade-in">
          <img src="/assets/img/asynkron/supervision-big.png" alt="Image" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>
  
  </section>