<div class="navbar-container bg-dark mb-0">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand navbar-brand-dynamic-color fade-page" href="/">
				<img alt="Proto.Actor" src="/assets/img/asynkron/protoactor-logo.png" width="180">
			</a>

			<a style="margin-top:-5px;" class="ml-2 pb-1 navbar-brand navbar-brand-dynamic-color fade-page"
				href="https://asynkron.se">
				<img alt="Asynkron AB" src="/assets/img/asynkron/asynkron-white.png" width="167">
			</a>
			<div class="d-flex align-items-center order-lg-3">
				<div class="mr-2 ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">
					<a href="https://github.com/AsynkronIT" class="btn btn-primary btn-sm rounded-circle">
						<img src="/assets/img/icons/social/github.svg" alt="github" class="icon bg-white"
							data-inject-svg>
					</a>
				</div>
				<div class="mr-2 ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">
					<a href="https://twitter.com/protoactor" class="btn btn-primary btn-sm rounded-circle">
						<img src="/assets/img/icons/social/twitter.svg" alt="twitter" class="icon bg-white"
							data-inject-svg>
					</a>
				</div>
				<div class="mr-2 ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">
					<a href="https://join.slack.com/t/asynkron/shared_invite/zt-ko824601-yGN1d3GHF9jzZX2VtONodQ"
						class="btn btn-primary btn-sm rounded-circle">
						<img src="/assets/img/icons/social/slack.svg" alt="twitter" class="icon bg-white"
							data-inject-svg>
					</a>
				</div>
			</div>

			<div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
				<ul class="navbar-nav my-3 my-lg-0">
					<li class="nav-item">
						<a class="nav-link nav-item " href="https://protoactor.discourse.group/">Community</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-item " href="https://proto.actor/docs/bootcamp/">Bootcamp</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-item " href="/docs/">Documentation</a>
					</li>
					<li class="nav-item">
						<div class="dropdown">
							<a aria-expanded="false" aria-haspopup="true"
								class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid"
								href="#" role="button">Samples</a>
							<div class="row dropdown-menu" style="left: -1092px;">
								<div class="col-auto" data-dropdown-content="" style="left: 1092px;">
									<div class="dropdown-grid-menu">
										<a href="https://github.com/asynkron/realtimemap" class="dropdown-item"
											target="_blank">Real-time Map - C#</a>
										<a href="https://github.com/marcinbudny/proto-actor-realtimemap-go" class="dropdown-item"
											target="_blank">Real-time Map - Go</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<div class="dropdown">
							<a aria-expanded="false" aria-haspopup="true"
								class="dropdown-toggle nav-link nav-item arrow-bottom" data-toggle="dropdown-grid"
								href="#" role="button">Code</a>
							<div class="row dropdown-menu" style="left: -1092px;">
								<div class="col-auto" data-dropdown-content="" style="left: 1092px;">
									<div class="dropdown-grid-menu">
										<a href="https://github.com/AsynkronIT/protoactor-dotnet" class="dropdown-item"
											target="_blank">C#</a>
										<a href="https://github.com/AsynkronIT/protoactor-go" class="dropdown-item"
											target="_blank">Go</a>
										<a href="https://github.com/AsynkronIT/protoactor-kotlin" class="dropdown-item"
											target="_blank">Kotlin</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>