<div class="bg-light mt-3 p-2">
 <input placeholder="Search" id="AlgoliaSearch" class="form-control form-control " style="width:600px">

 <div style="float: right;padding-top: 10px;">
    <a class="github-button" href="https://github.com/AsynkronIT/protoactor-go" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Proto.Actor Go on GitHub">Go</a>
    <a class="github-button" href="https://github.com/AsynkronIT/protoactor-dotnet" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Proto.Actor Dotnet on GitHub">C#</a>
</div>
</div>